body{
    background-color:black;
}

#logoImg{
    height: 350px;
    width: 550px;
    
}


.container{
    position: relative;
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white; 
    height: 515px;
}

.center{
    position: relative; 
    margin: auto;
    text-align: center;
}

.buttonGrey{
    font-weight: bold;
    margin-top: 20px;
}

.whitetext{
    color: white;
    width: 900px
}

.sneakerlogo{
    position: relative;
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white; 
    height: 300px;
}